/*------------------------------------------------ESTRUCTURA ------------------------------------*/

* {
    box-sizing: border-box;
}
body {
    background-color: silver;
}


/*--------------------------imagen de fondo---------------------------*/

#imgfondo {
  
    width: 100%;
    
  }


/*--------------------------clases e IDs ---------------------------*/
.permanent {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}




.imgproyecto {
    width: 100%;

    /*Sombra interna de las imágenes de los proyectos*/
}

/*para el header*/
.derecha {
    text-align: right;
    background-color: rgb(34, 116, 240);
    color: white;
    font-size: 85%;
    margin-bottom: 0;
    padding-right: 1em;
}

/*----imagen circular   ----*/
.andres {
    width: 20%;
    height: 40%;
  /*  margin-left: 40%; */
}
/*---para el título   --*/
.tituloandres {
    margin-left: 2em;
    color: rgb(34, 116, 240);
    text-align: unset;
}

.tituloprof {
    margin-left: 2em;
    color: rgb(34, 116, 240);
    text-align: unset;  
    
}

.whoami {
    width: 95%;
}


.foot { 
    text-align: center;

}

#github {
    width: 15%;
}

#linkedin {
    width: 15%;
}

/*-------------------------Elementos -------------------------------*/
p {
    font-family: 'Roboto';
    text-align: center;
    
}

h1 {
    text-align: center;
}

