/*------------------------------------------------ESTRUCTURA ------------------------------------*/

* {
    box-sizing: border-box;
}
body {
    background-color: silver;
}


/*--------------------------clases e IDs ---------------------------*/
.permanent {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}




.imgproyecto {
    width: 100%;

    /*Sombra interna de las imágenes de los proyectos*/
}

/*para el header*/
.derecha {
    text-align: right;
    background-color: rgb(34, 116, 240);
    color: white;
    font-size: 85%;
}

/*----imagen circular   ----*/
.andres {
    width: 20%;
    height: 40%;
    margin-left: 40%;
}
/*---para el título   --*/
.centrado {
    text-align: center;
    color: rgb(34, 116, 240);
}

.whoami {
    width: 95%;
}


.foot { 
    text-align: center;

}

#github {
    width: 35%;
}

#linkedin {
    width: 35%;
}

/*-------------------------Elementos -------------------------------*/
p {
    font-family: 'Roboto';
    text-align: center;
    
}

h1 {
    text-align: center;
}

